<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="All Test Suite">

    <listeners>
        <listener class-name = "Tests.TestComponents.Listeners"/>
    </listeners>

    <test verbose="1" preserve-order="true" name="Landing Page Tests">
        <classes>
            <class name="Tests.PositiveTests.LandingPageTests"/>
        </classes>
    </test>

    <test verbose="1" preserve-order="true" name="Cart Page Tests">
        <classes>
            <class name="Tests.PositiveTests.CartPageTests"/>
        </classes>
    </test>

    <test verbose="1" preserve-order="true" name="Checkout Page Tests">
        <classes>
            <class name="Tests.PositiveTests.CheckoutPageTests"/>
        </classes>
    </test>

    <test verbose="1" preserve-order="true" name="Error Validation Card Page Tests">
        <classes>
            <class name="Tests.NegativeTests.ErrorValidationCartPageTests"/>
        </classes>
    </test>

    <test verbose="1" preserve-order="true" name="Error Validation Checkout Page Tests">
        <classes>
            <class name="Tests.NegativeTests.ErrorValidationCheckoutPageTests"/>
        </classes>
    </test>

</suite>